.djinn-card-container {
  position: relative;
  font-family: Tahoma,Arial,Helvetica;
  color: #422108;
  text-shadow: #dea56b 1px 1px;
  width: 275px;
  height: 185px;
  margin: 15px;

  > * {
    position: absolute;
  }
  
  .djinn-name {
    top: 29px;
    left: 25px;
    font-size: 14px;
    font-weight: bold;
  }

  .djinn-description {
    top: 46px;
    left: 28px;
    width: 39%;
    font-size: 11px;
  }

  .djinn-png {
    position: unset;
  }

  .djinn-gif {
    top: 150px;
    left: 10px;
  }

  .djinn-effect {
    top: 157px;
    left: 40px;
    text-shadow: 1px 1px #000;
    color: #ffffff;
    font-size: 11px;
  }
} // .djinn-card-container