.djinn-index {
  display: flex;
  justify-content: center;
  z-index: -1;

  .djinni-card-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  &.venus {
    background-image: linear-gradient(45deg, #0a4848, #8fa068);
  }

  &.mercury {
    background-image: linear-gradient(45deg, #263b4d, #6a93b7);
  }

  &.mars {
    background-image: linear-gradient(45deg, #4d2626, #b76a6a);
  }

  &.jupiter {
    background-image: linear-gradient(45deg, #362b47, #8b75ac);
  }
} // .djinn-index