.djinn-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80%;

  .venus {
    // add unique bg gradients
  }

  .mercury {

  }

  .mars {

  }

  .jupiter {

  }
} // .djinn-container